Zaimportuj biblioteki

In [2]:
import pandas as pd

Dodaj plik "Friendly Competition"

In [3]:
fren = pd.read_csv("Friendly Competition.csv")

Dodaj nagłówki. Kolejno: Team Name, Activity, Players, Age, isForKids, TeamID

In [4]:
fren.columns = ["Team Name", "Activity", "Players", "Age", "isForKids", "TeamID"]

Zapoznaj się z ramką danych. Wygeneruj podsumowanie

In [5]:
print(fren.head())

          Team Name         Activity     Players           Age isForKids  \
0   _Dancing Donuts   Eating contest  3-5 people    8-12 years       Yes
1    .Wacky Wombats          zRacing         NaN   23-70 years        No
2  Silly Sausages..   Eating contest  3-5 people    8-12 years       NaN
3    Clumsy Ninjas-  Obstacle Course         1-2   10-99 years         Y
4   Laughing Llamas          Singing  4-6 people  6--600 years       YES

   TeamID
0    54.0
1    21.0
2    87.0
3    42.0
4    12.0

Przyjrzyj się danym. Oceń, co trzeba wyczyścić. Wypisz poniżej.

In [6]:
print(fren)

                Team Name         Activity     Players           Age  \
0         _Dancing Donuts   Eating contest  3-5 people    8-12 years
1          .Wacky Wombats          zRacing         NaN   23-70 years
2        Silly Sausages..   Eating contest  3-5 people    8-12 years
3          Clumsy Ninjas-  Obstacle Course         1-2   10-99 years
4         Laughing Llamas          Singing  4-6 people  6--600 years
5            Silly Squids         Painting  5-9 people    8-99 years
6     Bumbling Bumblebees          Dancing  3-8 people    6-53 years
7         Dizzy Dinosaurs          Hunting   80 people    40-0 years
8          Quirky Quokkas              NaN  5-9 people    8-99 years
9          Goofy Goblins/          Hunting   80 people   40-87 years
10    Jolly Jellybeans,,,   Eating contest  3-5 people    8-12 years
11   Flaming Marshmallows          Singing  4-6 people    6-60 years
12         Nutty Narwhals   Eating contest         NaN    8-12 years
13                    NaN              NaN         NaN           NaN
14            Zany Zebras         Painting  5-9 people           NaN
15         Crazy Coconuts           Racing  5-7 people   23-70 years
16   , ,Wobbling Walruses          Dancing  3-8 people    6-53 years
17        Funky Flamingos          Dancing  3-8 people    6-50 years
18   ,Hilarious Hedgehogs    Hide and Seek  6-8 people    4-30 years
19      Peculiar Penguins              NaN  3-8 people    6-60 years
20    Ridiculous Raccoons           Racing         NaN   23-70 years
21           Silly Squids         Painting  5-9 people    8-99 years

   isForKids  TeamID
0        Yes    54.0
1         No    21.0
2        NaN    87.0
3          Y    42.0
4        YES    12.0
5        Yes  4365.0
6        yes    97.0
7        NaN    64.0
8        YES    32.0
9          n     NaN
10         Y    76.0
11         Y    43.0
12       Yes     NaN
13       NaN     NaN
14       NaN    12.0
15         N    87.0
16         y     8.0
17       yes    65.0
18         Y   453.0
19       NaN     NaN
20        NO    32.0
21       Yes  4365.0

Usuń niepotrzebne wiersze i kolumny

Poszukaj unikatowych wartości

Wyczyść dane

Znajdź brakujące dane używając metody isna()

Uzupełnij brakujące dane

Usuń duplikaty

Zamień ilość graczy na format int, który jest wartością średnią

Wydziel wiek graczy na najmniejszą i największą wartość

Oddziel te drużyny, które biorą udział w aktywnościach artystycznych

Utwórz 2 dodaktkowe dataframy. Jeden, który zawiera listę kolejnych drużyn, drugą, która zawiera kolejne parametry

Dołącz dataframy do reszty